arty.xdc
blink.v
clk.xdc
data.db
led.xdc
requirements.txt
top.v
.vscode/settings.json
__pycache__/SymbiFlask.cpython-38.pyc
counter_xc7a100t/arty.xdc
counter_xc7a100t/top.v
testing_xc7a100t/clk.xdc
testing_xc7a100t/led.xdc
counter_xc7a100t/build/constraints.place
counter_xc7a100t/build/fasm.log
counter_xc7a100t/build/pack.log
counter_xc7a100t/build/packing_pin_util.rpt
counter_xc7a100t/build/place.log
counter_xc7a100t/build/pre_pack.report_timing.setup.rpt
counter_xc7a100t/build/pyfpga.xdc
counter_xc7a100t/build/report_timing.hold.rpt
counter_xc7a100t/build/report_timing.setup.rpt
counter_xc7a100t/build/report_unconstrained_timing.hold.rpt
counter_xc7a100t/build/report_unconstrained_timing.setup.rpt
counter_xc7a100t/build/route.log
counter_xc7a100t/build/symbiflow.bit
counter_xc7a100t/build/symbiflow.sh
counter_xc7a100t/build/top_fasm_extra.fasm
counter_xc7a100t/build/top_io.json
counter_xc7a100t/build/top_synth.log
counter_xc7a100t/build/top_synth.v
counter_xc7a100t/build/top_synth.v.premap.v
counter_xc7a100t/build/top.eblif
counter_xc7a100t/build/top.fasm
counter_xc7a100t/build/top.ioplace
counter_xc7a100t/build/top.json
counter_xc7a100t/build/top.json.carry_fixup_out.json
counter_xc7a100t/build/top.json.carry_fixup.json
counter_xc7a100t/build/top.json.post_abc9.ilang
counter_xc7a100t/build/top.json.pre_abc9.ilang
counter_xc7a100t/build/top.net
counter_xc7a100t/build/top.net.post_routing
counter_xc7a100t/build/top.place
counter_xc7a100t/build/top.route
counter_xc7a100t/build/top.sdc
